[Unit]
Description=Launch local script for BuckUTT
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/node /root/local/app.js

[Install]
WantedBy=multi-user.target
