[Unit]
Description=startx automatique pour l'utilisateur %I
After=graphical.target systemd-user-sessions.service openvpn@buckutt.service

[Service]
User=%I
WorkingDirectory=%h
PAMName=login
Type=simple
ExecStart=/bin/bash -l -c startx

[Install]
WantedBy=graphical.target